.button {
  display: inline-block;
  width: fit-content;
  font-family: inherit;
  text-align: center;
  background-color: white;
  color: var(--color-blue);
  font-size: 16pt;
  font-weight: 700;
  border-radius: 10pt;
  cursor: pointer;
  box-shadow: 0 2pt 4pt #00000014;
  border: 1pt solid var(--color-lightGray);
  transition: 0.3s;
  padding: 15pt 30pt;

  &:hover {
    background-color: #f9f9f9;
  }
  &:disabled {
    background-color: gray;
    cursor: not-allowed;
    &:hover {
      background-color: darkgray;
    }
  }
}
.blue {
  background-color: var(--color-blue);
  color: white;
  &:hover {
    background-color: #4a4e6e;
  }
}

@media screen and (max-width: 700px) {
  .button {
    padding: 10pt 15pt;
    font-size: 14pt;

.red {
  background-color: var(--color-red);
  color: white;
  &:hover {
    background-color: #790808;
  }
}
