.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20pt;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
