.container {
  border-bottom: 1pt solid #f0f0f0;
  padding-bottom: 30pt;
  display: flex;
  flex-direction: column;
  gap: 15pt;
}
.img {
  width: 100pt;
  height: 100pt;
  border: #ffffff;
  border-radius: 10pt;
}
.h1 {
  color: #bf1e2f;
  font-family: Oswald;
  font-size: 38pt;
  font-weight: 500;
}
.p {
  color: #777777;
  font-family: 'Montserrat';
  font-size: 16pt;
  font-weight: 400;
}
.profileBox {
  display: flex;
  gap: 15pt;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15pt;
}

@media screen and (max-width: 700px) {
  .profileBox {
    flex-direction: column;
  }
  .img {
    margin: auto;
  }
}
